 * {
            font-family: monospace;
}

body {
	background-color: rgb(25,25,25);
}

#calculadora {
	margin: auto;
	width: 190px;
	background-color: skyblue;
	display: block;
	border-radius: 10px;
	padding: 1% 2% 1% 2%;
 }

#visor {
	padding: 3% 3% 3% 3%;
	font-size: 1.5em;
	text-align: right;
	display: block;
	margin-bottom: 5%;
	border-radius: 10px;
	background-color: white;
 }

#conjutoDBotoes {
	margin: auto;
 }

.operaçoes {
	margin: auto;
	margin-left: 5.5%;
	background-color: red;
	padding: 5%  7% 5% 7%;
	box-shadow: 1px 1px 2px black;
}

.butao {
	margin:auto;
	margin-bottom: 3%;
	padding: 5%  7% 5% 7%;
	box-shadow: 1px 1px 2px black;
 }

.butao:hover {
	background-color: gray;
}

h1 {
 	text-align: center;
 }